<div class="container">
    <h1>Eventos</h1>
</div>

<div class="container">
    <div class="row">
        <%= render partial: 'event', collection: @events %>
    </div>
</div>

<div class="container">
    <div class="row">
    <%= link_to 'Nuevo', new_event_path, class: 'col-md-4 offset-md-2' %>
    </div>
</div>