<div class="container">
    <h1>Evento: <%=  @event.name %></h1>
</div>

<div class="container">
    <h3>Ubicación</h3>
    <p><%= @event.venue.name %></p>

    <h3>Categoría</h3>
    <p><%= @event.category.name %></p>
</div>