<div class="container">
    <h1>Categorías</h1>
</div>

<div class="container">
    <ul>
        <% @categories.each do |category| %>
            <li><%= link_to category.name, category %></li>
        <% end %>
    </ul>
</div>